@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat:wght@200&display=swap");
.bg {
  display: flex;
  justify-content: space-between;
  background-image: url("background.jpg");
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.navbar-nav .nav-item a {
  color: white;
}
.h2 {
  margin: 100px;
}
.body {
  --bs-body-font-family: "Fasthand", cursive;
}
.navbar {
  font-family: "Fasthand", cursive;
}

.navbar a h2 {
  font-size: 2rem;
}
