@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat:wght@200&display=swap");
/* .bg {
  display: flex;
  justify-content: space-between;
  background-image: url("background.jpg");
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("My project.png");
}

.col-5 {
  margin-bottom: 1000px;
}
.navbar {
  position: absolute;
  top: 50px;
  left: 1000px;
  font-size: 2rem;
  font-family: "Delicious Handrawn", cursive;
  text-decoration: none;
}

.main-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: -100px;
}
.hero_title {
  font-size: 4.5rem;
  font-family: "Delicious Handrawn", cursive;
  color: white;
}
.hero_desc {
  font-size: 2rem;
  font-family: "Delicious Handrawn", cursive;
  color: white;
}

.nav-item a {
  justify-content: flex-end;
}
